

nav{
	display: block;
	margin-top: 40px;
	text-align: center;
}

a:hover{
	color: #6bc6b8;
}

h1{

	font-family: 'Ovo', serif;
	font-size: 2em;
	color: #58585b;
	text-align: center;
	letter-spacing: 2.5px;
	padding-top: 20px;
}

p{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	line-height: 1.4em;
	padding-top: 20px;
	
}


li{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	display: inline;
	
}


a{
	text-decoration: none;
	color: #58585b;
	border-right: 1px solid #58585b;

}



.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.wrapper{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 100px;
	margin-left: 100px;
}

.logo{
	text-align: center;
	display: block;
	float: left;
	margin: 0 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    width: 300px;
    display: block;
    float: left;
    margin:45px 0 49px;
}

.nav{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	display: inline;
	padding: 20px;
	text-align: center;
	border-right: 1px; 

}


.images{
	display: inline-block;
	margin: .3em;

}

li#noborder{
	border-right: none;
}

hr#style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    width: 737px;
    display: block;
    float: none;
    margin-left: 100px;
    margin-right: 100px;
}



