
body{
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
}

nav{
	display: block;
	float: right;
	margin-top: 100px

}

a:hover{
	color: #6bc6b8;
}

p{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	line-height: 1.4em;
	padding-top: 20px;
	
}


li{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	display: inline;
	padding: 15px;
}


a{
	text-decoration: none;
	color: black;
}



hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	display: inline;
	padding: 15px;

}

.images{
	display: inline-block;
	margin: .3em;

}

footer{
	display: inline;

}

.footer{
	font-family: 'Rokkitt', serif;
	font-size: 14px;
	margin-left: 0;
	padding-left: 0;
	text-decoration: none;

}

#hero{
	padding-top: 30px;
}

#fleft{
	float: left;
	
}

#fright{
	float: right;

}